* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", system-ui;
}



:root {
  --background-color: #060C1A;
}

body.light-mode {
  --background-color: rgb(22, 120, 218);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--icon-color); 
}


#icon-sun {
  display: none;
}


body.light-mode #icon-moon {
  display: none;
}

body.light-mode #icon-sun {
  display: block;
}

.app {
  display: grid;
  grid-template-columns: 4% 96%;
  gap: 15px; /* Đây là khoảng cách giữa sidebar và nội dung */
  width: 100%;
  height: 100%;
}

.sidebar {
  border-radius: 30px;
  background-color: rgba(14, 20, 33, 0.9);
  text-align: center; 
  margin-left: 15px;
  height: 82%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px 250px 10px; /* gộp padding */
    border-radius: 20px;
    gap: 80px;
}
.outApp{
  margin-bottom: 30px;
}
.outApp:hover{
  transform: scale(1.2);
  cursor: pointer;
}
/* Áp dụng style cho chính nút bấm */
#theme-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 20, 33, 0.9);
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#theme-toggle:hover {
  transform: scale(1.2);
}

.icon_wrapper {
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_wrapper:hover {
    transform: scale(1.3);
}

.icon_wrapper i {
    transition: transform 0.3s ease;
}


.active>i{
    opacity: 100%;
    color: #742BEC;
    text-shadow: 0 0 10px #742BEC;
}

.icon_wrapper.active {
    background-color: rgba(116, 43, 236, 0.2);
    border: 1px solid rgba(116, 43, 236, 0.5);
}




.topbar {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  /* background-color: #24a337; */
  color: white;
  margin-bottom: 10px;
}

.topbar input[type="text"] {
  /* width: 100%; */
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #282c2f;
  padding-left: 20px;
  color: white;
}

.topbar label {
  width: 40%;
  font-size: 20px;
  background-color: #282c2f;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left:73%;
}
.user-toggle{
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  gap: 10px ;
}
.dropdown-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #282c2f;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.dropdown-menu a{
  display: block  ;
  padding: 10px 20px;
  color: white;
  text-decoration: none ;
}
.dropdown-menu a:hover {
  background-color: #376dd2;
}
.content{
    display: grid;
    grid-template-columns: 53% 47% ;
    grid-template-rows: 40% 40%;  
    /* background-color: #420e79; */
    gap:10px 10px;
}
@media screen and (max-width:1200px){
  .content{
    grid-template-columns: 90%;
    padding-left: 50px;
  }
  .dropdown{
    padding-left: 45%;
  }
  /* .topbar{
    grid-template-columns: 96%;
    grid-template-rows: 1fr;
  } */  
  .app {
    display: grid;
    grid-template-columns: 60px 90%;
    gap: 15px; 
    height: 100%;
  }
  .sidebar{
    height: 100%;
  }
  .menu-item{
    padding-bottom: 1300px;
  }
  .topbar{
    width: 100%;
    position: fixed;
  }
  .dropdown-menu{
    right: 130px;
  }
}

.content-header{  
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20px;
    background: #0E1421;
    color: white; 
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.content-header-cot1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: #376dd2; */
}
.content-header-cot2{
  padding-left: 0;
  margin-right: 0;
}
.content-header-cot3{
  margin-left: 60px;
}
.content-header-cot4{
  margin-left: auto;
}
.location-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: left;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #6c31c4;
    color: white;
    cursor: pointer;
}

.Today-Highlight{
  padding: 20px;
  background: radial-gradient(circle, #162850, #121A2D);
  border-radius: 20px;
  width: 95%;
}

.Today-Highlight p{
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.Today-Highlight-content{
    border-radius: 20px;
    display: grid;
    gap:40px;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    height: 80%;
  }
.Today-Highlight-content>div{
  text-align: left;
  padding-left: 15px;
  background-color: #0E1421;
  color: #fff;
  height: 100%;
  width: 95%;
  border-radius: 20px;
  

}
.weather-forecast {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 60% 40%;  
    gap: 10px;
    background-color: #0E1421;
    border-radius: 20px;
    padding: 20px;
    /* height: 310px; */
}


/* .weather-forecast > div:not(.item1) {
    background: #ffffff22;
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
} */


.item1 {
    color: white;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
}

.item1_1 { 
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.item1_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(30deg, #0E1421, #1D325F, #0E1421);
    border-radius: 15px;
    color: white;
    gap: 10px;
    padding: 10px;
    overflow-x: auto; /* Cho phép cuộn nếu không đủ chỗ */
}

.day {

    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-width: 55px; /* Đảm bảo không quá bé */
    font-size: 16px;
}

.day img {
    width: 70px;
    height: 70px;
}

.item2 {
    grid-column: 2;
    grid-row: span 2; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #14203A;
    border-radius: 20px;
    text-align: center;
}

.item3 {
    display: flex;
    border-radius: 20px;
    font-size: 18px;
    background: linear-gradient(30deg, #0E1421, #1D325F, #0E1421);
    padding: 15px;
    color: white;
    text-align: center;
    
}
.iteam3_2{
  font-size: 20px;
  width: 15%;
  text-align: center;
  padding-right: 300px;
  padding-left: 15px;
    color: white;
    text-align: center;
    
}

.iteam3_3{
  margin-top: auto;
  margin-bottom: auto; 
}

.other-cites{
    display: flex;
    flex-direction: column;
}
.other-cites1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 30px 30px; 
  width: 90%;
}
.other-cites2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; /* khoảng cách giữa các card */
    padding: 0 20px; /* khoảng cách 2 bên */
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.other-cites2>div{
  color: white;
  display: flex;
  flex-direction: row;
  background-color: rgba(14, 20, 33, 0.9);
  border-radius: 15px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon{
  font-size: 100px;
}